.default-button {
    background-color: #fcfcfc;
    border: 1px solid black;
    transition: 0.6s;
    margin: 4px 2px;
    padding: 8px;
    font-size: 1.4em;
    border-radius: 10px;
}

.default-button:hover {
    cursor: pointer;
}

.update-task-button {}

.update-task-button:hover {
    background-color: rgba(51, 212, 59, 0.849);
}

.reset-task-button {}

.reset-task-button:hover {
    background-color: #ebff00;
}

.delete-task-button {}

.delete-task-button:hover {
    background-color: red;
}

.add-task-button {
    margin: 0;
    margin-left: 10px;
    padding: 5px 6px;
}

.add-task-button:hover {
    background-color: rgba(111, 230, 117, 0.849);
}
