.header-empty {
    margin-top: 30px;
}

.div-todo-history {
    display: flex;
    justify-content: center;
}

.table-history .history-thead-th {
    background-color: rgb(30, 206, 241);
}

.table-history {
    margin-top: 30px;
    border: 2px solid black;
    border-right: 0px solid #fff;
    border-collapse: collapse;
}

.table-history th {
    border: 1px solid black;
    font-size: 1.4em;
}

.table-history .table-th-description {
    padding: 10px 15vw;
    width: 30vw;
}

.table-history .table-th-status {
    border-right: 2px solid;
}

.table-history .history-table-th-buttons {
    border: 2px solid transparent;
    border-bottom: 2px solid black;
}

.table-history-tr {}

.table-history-tr td {
    border: 1px solid black;
    padding: 2px 20px;
    text-align: center;
}

.table-history-tr .table-history-description {
    padding: 10px 0;
    word-wrap: break-word;
    min-width: 200px;
    max-width: 600px;
    font-size: 1.3em;
    font-weight: 500;
    background-color: rgb(196, 237, 252);
}

.table-history-tr .table-history-status {
    font-size: 1.3em;
    border-right: 2px solid black;
    min-width: 100px;
}

.finished-task {
    background-color: rgba(51, 212, 59, 0.849);
}

.not-finished-task {
    background-color: #e40e0ec0;
}

.table-history-tr .table-buttons-td {
    padding: 0 2px;
    background-color: rgb(30, 206, 241);
    border: none;
}

.table-history-tr .tbody-delete-button-td {
    border-right: 2px solid black;
}